.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 40vh;
    border: royalblue solid 2px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: antiquewhite;
}
a {
    text-decoration: none;
    color: dodgerblue;
}
li {
    color: blueviolet;
}